@model IEnumerable<CafeResturant.Models.About>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered table-strip">
    <thead>
        <tr>
            <th>
                Konu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <textarea asp-for="@item.Konu" class="form-control" rows="10"></textarea>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutID" class="btn btn-primary"><i class="bi bi-pencil-fill"></i>Güncelle</a> 
                
                <a asp-action="Delete" asp-route-id="@item.AboutID" class="btn btn-danger"><i class="bi bi-trash-fill"></i>sil</a>
                 <a asp-action="Create" asp-route-id="@item.AboutID"><i class="bi bi-plus-circle-fill btn btn-success" >Oluştur</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
